In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import locale

In [19]:
df=pd.read_csv(f"http://www.twse.com.tw/indicesReport/MI_5MINS_HIST?response=csv&date=20190201",encoding='Big5')

In [20]:
df

                                                   108年02月 發行量加權股價指數歷史資料
日期        開盤指數      最高指數      最低指數      收盤指數                         NaN
108/02/11 10,029.84 10,065.52 9,988.83  10,004.25                    NaN
108/02/12 10,032.08 10,100.23 10,032.08 10,097.74                    NaN
108/02/13 10,123.61 10,140.98 10,074.34 10,090.58                    NaN
108/02/14 10,095.99 10,135.62 10,082.00 10,089.01                    NaN
108/02/15 10,111.18 10,135.16 10,055.50 10,064.78                    NaN
108/02/18 10,096.94 10,165.77 10,096.94 10,145.28                    NaN
108/02/19 10,152.11 10,173.47 10,143.15 10,152.26                    NaN
108/02/20 10,181.94 10,272.46 10,181.94 10,272.46                    NaN
108/02/21 10,282.32 10,319.53 10,256.53 10,319.53                    NaN
108/02/22 10,309.02 10,322.92 10,269.95 10,322.92                    NaN
108/02/25 10,343.45 10,390.93 10,343.45 10,390.93                    NaN
108/02/26 10,403.03 10,416.91 10,368.86 10,391.55                    NaN
108/02/27 10,385.81 10,403.05 10,343.56 10,389.17                    NaN

In [90]:
h=[]
l=[]

o=[]
om=[]
fm=[]
thtym=[]
c=[]

date=[]
day=range(20190301,20190323)
for d in day:
    print(d)
    try:
        df=pd.read_csv(f"http://www.twse.com.tw/exchangeReport/MI_5MINS_INDEX?response=csv&date={d}",encoding='Big5')
    except:
        print('no data')
    else:
        df=pd.read_csv(f"http://www.twse.com.tw/exchangeReport/MI_5MINS_INDEX?response=csv&date={d}",encoding='Big5')
        date.append(d)
        o.append(df.index[2][1])
        om.append(df.index[13][1])
        fm.append(df.index[61][1])
        thtym.append(df.index[361][1])
        c.append(df.index[3241][1])
        print('success')
print("END")

20190301
no data
20190302
no data
20190303
no data
20190304
success
20190305
success
20190306
success
20190307
success
20190308
success
20190309
no data
20190310
no data
20190311
success
20190312
success
20190313
success
20190314
success
20190315
success
20190316
no data
20190317
no data
20190318
success
20190319
success
20190320
success
20190321
success
20190322
no data
END

In [91]:
for i in range(len(o)):
    o[i]=float(o[i].replace(",",""))
    c[i]=float(c[i].replace(",",""))
    om[i]=float(om[i].replace(",",""))
    fm[i]=float(fm[i].replace(",",""))
    thtym[i]=float(thtym[i].replace(",",""))

In [133]:
df.index[61][1]

'10,576.83'

In [103]:
thtym

[10356.3,
 10329.12,
 10345.24,
 10346.45,
 10223.84,
 10254.59,
 10346.95,
 10356.89,
 10388.18,
 10385.0,
 10452.61,
 10499.9,
 10533.82,
 10555.06]

In [119]:
c

[10349.88,
 10305.26,
 10357.15,
 10311.68,
 10241.75,
 10250.28,
 10343.33,
 10373.32,
 10348.65,
 10439.24,
 10512.7,
 10512.32,
 10551.56,
 10609.55]

In [110]:
thtym[i+1]>om[i+1]

False

In [139]:
t=0
all=0
for i in range(len(o)-1):
    if om[i+1]>c[i]*1.005:
        all+=1
        if thtym[i+1]>om[i+1]:
            t+=1
            print(date[i])
    else:
        pass

20190311

In [140]:
all

1

In [141]:
t

1

In [ ]:
for i in range(len(df2[df2.columns[1]])):
    df2.loc[:,df2.columns[1]][i]=df2.loc[:,df2.columns[1]].values[i].replace(",","")

locale.setlocale(locale.LC_NUMERIC,"")

df2[df2.columns[1]]=df2[df2.columns[1]].apply(locale.atof)

import matplotlib as mpl

mpl.rc('font',family='SimHei')

plt.figure(figsize=(15,5))
plt.xlabel("小時")
plt.ylabel("價格")
plt.grid(True)
plt.title(f"{df0.columns[0]}之{df2.columns[1]}圖")
plt.yticks(np.arange(9000,12000,5))
plt.xticks(np.arange(0,5,0.5))
plt.plot(np.linspace(0,4.5,3241),df2[df2.columns[1]])