In [1]:
%matplotlib inline

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import datetime as dt
import twstock as ts
import time 
import threading
import queue
import json
from urllib.request import urlopen

# 獲取4月個股占大盤比重

In [2]:
table=pd.read_html("https://histock.tw/stock/taiexproportion.aspx")
smy=pd.concat([table[0],table[1]],axis=0)
smy.index=range(1,len(smy)+1)
smy=smy.drop('排行',axis=1)

In [3]:
smy['昨收']=np.nan
smy['現價']=np.nan

In [4]:
codelist=list(smy.loc[:,'代號'])

In [5]:
smy['市值佔大盤比重']=smy['市值佔大盤比重'].map(lambda x:float(x.strip('%'))) / 100

In [6]:
smy.head()

     代號   名稱   市值佔大盤比重  昨收  現價
1  2330  台積電  0.211929 NaN NaN
2  2317   鴻海  0.042131 NaN NaN
3  6505  台塑化  0.037738 NaN NaN
4  2412  中華電  0.029486 NaN NaN
5  1301   台塑  0.022606 NaN NaN

## 從yahoo網頁獲取(即時)現價

In [180]:
def getnp(i):
    tab=pd.read_html(f"https://tw.stock.yahoo.com/q/q?s={i}",encoding = "big5")
    AD=tab[1][0][0].split()
    smy.loc[smy.loc[smy.代號==float(i)].index,'現價']=float(AD[14])

In [23]:
smy['現價']=np.nan
n=0
t0=time.clock()
while n<50:
    for i in codelist[n:n+10]:
        try:
            getnp(i)
        except:
            pass
    n+=10
    print('前',n,'間公司所需時間',time.clock()-t0,'秒')

前 10 間公司所需時間 23.228989431896025 秒
前 20 間公司所需時間 15.372331873732492 秒
前 30 間公司所需時間 21.288321318088606 秒
前 40 間公司所需時間 30.67598976152385 秒
前 50 間公司所需時間 28.329864626019685 秒

In [229]:
tab=pd.read_html("https://tw.stock.yahoo.com/q/q?s=2330",encoding = "big5")

In [230]:
AD=tab[1][0][0].split()
AD[14]

'252.0'

In [231]:
AD=tab[1][0][0].split()
AD[12]=AD[12][:-6]

In [232]:
col_name=AD[:11]

In [233]:
da_num=AD[12:23]

In [234]:
df=pd.DataFrame(columns=col_name)

In [235]:
df.loc['data']=da_num

In [236]:
df

,股票代號,時間,成交,買進,賣出,漲跌,張數,昨收,開盤,最高,最低
data,2330台積電,13:30,252.0,252.0,252.5,▽2.0,"24,853",254.0,253.0,254.0,251.5

## 利用Market Information System的url與多線程  獲取個股昨日收盤價(昨收)

In [7]:
def run2(self):
    while self.qsize() > 0:
        i = self.get()
        if self.qsize()%100==0:
            print(f"剩下{self.qsize()}筆資料")
        try:
#            t0=time.clock()
            query_url = f"http://mis.twse.com.tw/stock/api/getStockInfo.jsp?ex_ch=tse_{i}.tw&delay=0"
            data = json.loads(urlopen(query_url).read())
            smy.loc[smy.loc[smy.代號==float(i)].index,'昨收']=data['msgArray'][0]['y']
#            print(f'找{i}的昨收價花',time.clock()-t0,'秒')
        except:
            pass

In [8]:
my_queue = queue.Queue()
smy['現價']=np.nan
for i in codelist:
      my_queue.put(i)
t = []
t00=time.clock()
le=my_queue.qsize()
for i in range(5):
    t.append(threading.Thread(target = run2(my_queue)))
    t[i].start()
for i in range(5):    
    t[i].join()
tt=time.clock()-t00
print(f'總共花',tt,'秒')
print(f'平均花',tt/le,'秒')

剩下900筆資料
剩下800筆資料
剩下700筆資料
剩下600筆資料
剩下500筆資料
剩下400筆資料
剩下300筆資料
剩下200筆資料
剩下100筆資料
剩下0筆資料
總共花 139.77429967290192 秒
平均花 0.1539364533842532 秒

## 利用twstock.realtime.get('代碼') 與多線程  獲取個股現價

In [9]:
threading.active_count()

5

In [10]:
def run(self):
    while self.qsize() > 0:
        i = self.get()
        if self.qsize()%100==0:
            print(f"剩下{self.qsize()}筆資料")
        try:
#            t0=time.clock()
            stock=ts.realtime.get(f'{i}')
            stocknp=stock['realtime']['latest_trade_price']
            smy.loc[smy.loc[smy.代號==float(i)].index,'現價']=stocknp
#            print(f'找{i}的現價花',time.clock()-t0,'秒')
        except:
            pass

In [11]:
my_queue = queue.Queue()
smy['現價']=np.nan
for i in codelist:
      my_queue.put(i)
t = []
t00=time.clock()
le=my_queue.qsize()
for i in range(5):
    t.append(threading.Thread(target = run(my_queue)))
    t[i].start()
for i in range(5):    
    t[i].join()
tt=time.clock()-t00
print(f'總共花',tt,'秒')
print(f'平均花',tt/le,'秒')

剩下900筆資料
剩下800筆資料
剩下700筆資料
剩下600筆資料
剩下500筆資料
剩下400筆資料
剩下300筆資料
剩下200筆資料
剩下100筆資料
剩下0筆資料
總共花 1029.1763286401322 秒
平均花 1.1334541064318637 秒

## 利用Market Information System的url 獲取加權指數昨收與現價

In [137]:
dapen=pd.DataFrame(columns=['yc','now','time'])

In [ ]:
query_url = "http://mis.twse.com.tw/stock/api/getStockInfo.jsp?ex_ch=tse_t00.tw&json=1&delay=0&_=1554956220828"
data = json.loads(urlopen(query_url).read())
dic=data['msgArray'][0]
dapen.loc['加權指']=float(dic['y']),float(dic['z']),dic['t']
dapen

# 計算即時的加權指數與台指期進行比較

In [243]:
rate_sum=0
for i in range(1,len(smy.index)+1):
    rate=smy.loc[i,'市值佔大盤比重']
    rate_sum=rate_sum+rate
rate_sum

1.0452259999999987

In [244]:
nr=smy['市值佔大盤比重'].copy()
nr=nr/rate_sum

In [245]:
findex=0
smy=smy.dropna()
smy.index=range(1,len(smy.index)+1)
for i in range(1,len(smy.index)+1):
    findex+=dapen.loc['加權指','yc']*(1+(float(smy.loc[i,'現價'])-float(smy.loc[i,'昨收']))/float(smy.loc[i,'昨收']))*nr[i]

In [246]:
findex

10812.92066936183

In [259]:
dg=pd.read_csv("http://info512ah.taifex.com.tw/Future/ImgChartDetail.ashx?type=1&contract=MTX049",encoding='big5',
               sep='delimiter',engine='python')
dg.loc[[4,11]]

               小臺指期049
4   成交,10806.0000,漲跌,0
11           時間,152139